
.skills{
    background-color: #181a1b;
    padding: 30px;
    color: white;

}
.skills-wrapper{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;

    margin-left: auto;
    margin-right: auto;
    
}
.skills h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

.logo-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}
.logo-wrapper:hover{

    transition: all 0.3s ease 0s;
    transform: scale(1.2);
}