.contact-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60vh;
    text-align: center;
    justify-content: space-around;
}

.contact-info{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-wrapper{

    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    height: 150px;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 10px
}
.contact-container p{
    font-size: 25px;
}
.contact-container img:hover{

    transition: all 0.3s ease;
    transform: scale(1.1);
}